@import '../../../assets/css/_colors.scss';

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

#pay-delivery-block {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .item {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid var(--ececec, #ECECEC);
    background: var(--White, #FFF);

    &__icon {
      padding: 40px 20px;
      background: var(--Green, #2B5027);

      svg, img {
        width: 24px;
        height: 24px;
      }
    }

    &__content {
      max-width: 554px;
      margin: 50px 50px 60px 50px;

      .content {
        &__title {
          margin-bottom: 10px;

          color: var(--Gray-1, #292929);
        }

        &__text {
          color: var(--Gray-2, #5C5C5C);
        }
      }
    }

    &__images {
      padding: 30px 50px;
      margin: 10px;
      margin-left: auto;
      border-radius: 3px;
      background: var(--Green-dark-2, #043D2E);

      .images {
        &__title {
          margin-bottom: 20px;

          color: var(--White, #FFF);
          text-align: center;
        }

        &__wrapper {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 20px;
        }
      }
    }
  }
}

/*============ MEDIA ==================*/
@media (max-width: 1240px) {

}

@media (max-width: 1221px) {

}

@media (max-width: 1025px) {

}

@media (max-width: 992px) {
  #pay-delivery-block {
    .item {
      &__content {
        margin: 25px;
      }
    }
  }
}

@media (max-width: 769px) {
  #pay-delivery-block {
    .item {
      flex-direction: column;
      gap: 20px;

      text-align: center;

      &__icon {
        padding: 15px;
      }

      &__content {
        padding: 0 15px;
        margin: 0 auto;
      }

      &__images {
        padding: 15px 25px;
        margin: 0;

        .images {
          &__wrapper {
            grid-template-columns: repeat(6, 1fr);
            justify-items: center;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #pay-delivery-block {
    gap: 10px;

    .item {
      gap: 10px;

      &__icon {
        padding: 10px;
      }

      &__images {
        .images {
          &__wrapper {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 498px) {

}

@media (max-width: 375px) {

}