@import '../../../assets/css/_colors.scss';

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

#categories-block {

  .swiper-slide {
    height: auto;
    padding-bottom: 2px;
  }

  .category {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--White);
    border-radius: 3px;
    border: 1px solid transparent;
    background: var(--White, #FFF);

    transition: border-color .15s ease-in;

    &:hover {
      border-color: var(--Primary, #3C6F36);

      .category {
        &__name{
          color: var(--Green);
        }

        &__btn{
          opacity: 1;
        }
      }
    }

    &__icon {
      width: 110px;
      height: 110px;
      object-fit: contain;
    }

    &__name {
      padding-left: 20px;

      color: var(--Gray-1, #292929);
      font-size: calcFluidFontSize(14, 16, 320, 1920);
      font-style: normal;
      font-weight: 800;
      line-height: 150%; /* 24px */

      transition: color .15s ease-in;
    }

    &__btn {
      padding: 20px;
      margin-left: auto;
      opacity: 0;

      transition: opacity .15s ease-in;
    }
  }

  .archive-btn{
    width: 180px;
    padding: 19px 30px;
  }
}

/*============ MEDIA ==================*/
@media (max-width: 1240px) {

}

@media (max-width: 1221px) {

}

@media (max-width: 1025px) {

}

@media (max-width: 992px) {

}

@media (max-width: 769px) {

}

@media (max-width: 576px) {
  #categories-block{
    .swiper-additionals{
      flex-direction: column-reverse;
    }
  }
}

@media (max-width: 498px) {

}

@media (max-width: 375px) {
  #categories-block .category__name{
    padding-left: 10px;
  }
}